<div class="savage-roll-app" style="visibility: visible">
    <table class="savage-table">
        <tr>
            <th colspan="2" class="savage-header">Roll Type:</th>
        </tr>
        <tr>
            <td class="savage-radio-container">
                <input type="radio" name="savage-type" value="wild" id="savage-wild" class="savage-radio" checked>
                <span class="savage-checkmark"></span>Wild Card
            </td>
            <td class="savage-radio-container">
                <input type="radio" name="savage-type" value="savage-extra" id="savage-extra" class="savage-radio">
                <span class="savage-checkmark"></span>Extra
            </td>
        </tr>
        <tr>
            <th colspan="2" class="savage-header">Modifier:</th>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" name="savage-mod" value="0" id="savage-mod" class="savage-textinput">
            </td>
        </tr>
        <tr>
            <th colspan="2" class="savage-header">Target Number:</th>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" name="savage-tn" value="4" id="savage-tn" class="savage-textinput">
            </td>
        </tr>
        <tr>
            <th colspan="2" class="savage-header">Roll Table:</th>
        </tr>
        <tr class="savage-dice">
            <td colspan="2">
                <button class="savage-button savage-d4" name="savage-d4" value="4" id="savage-d4">
                    <lable class="df-d4-4"></lable>
                </button>
            </td>
        </tr>
        <tr class="savage-dice">
            <td colspan="2">
                <button class="savage-button savage-d6" name="savage-d6" value="6" id="savage-d6">
                    <lable class="df-d6-6"></lable>
                </button>
            </td>
        </tr>
        <tr class="savage-dice">
            <td colspan="2">
                <button class="savage-button savage-d8" name="savage-d8" value="8" id="savage-d8">
                    <lable class="df-d8-8"></lable>
                </button>
            </td>
        </tr>
        <tr class="savage-dice">
            <td colspan="2">
                <button class="savage-button savage-d10" name="savage-d10" value="10" id="savage-d10">
                    <lable class="df-d10-10"></lable>
                </button>
            </td>
        </tr>
        <tr class="savage-dice">
            <td colspan="2">
                <button class="savage-button savage-d12" name="savage-d12" value="10" id="savage-d12">
                    <lable class="df-d12-12"></lable>
                </button>
            </td>
        </tr>
        <tr class="savage-dice">
            <td colspan="2">
                <button class="savage-button savage-d20" name="savage-d20" value="20" id="savage-d20">
                    <lable class="df-d20-20"></lable>
                </button>
            </td>
        </tr>
    </table>
</div>
